<style>
    .Name
    {
        margin-left: 50px;
    }
    .custom-select
    {
        width: 200px;
        margin-bottom: 10px;
      
       
    }
    .submit
    {
        width:70px;
        height: 10px;
    }
</style>


<div class="outer">
<!-- <nav id="nav1"  class="navbar navbar-expand-lg bg-body-tertiary" style="background-color:black " >
    <div class="container-fluid" style=" font-family: 'League Spartan', sans-serif; background-color: rgb(240, 240, 240);" >
      <a class="navbar-brand" [routerLink]="'../network'" style="margin-left: 20px;">Network</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="'../addnetwork'">Add Network Device</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'../network'">Search Network Device</a>
          </li>
          
         
        </ul>
       
      </div>
    </div>
  </nav> -->

  <nav id="nav1"  class="navbar navbar-expand-lg " style="margin-bottom: 0px;" >
    <div class="container-fluid" style=" font-family: 'League Spartan', sans-serif;  background-color: white; margin-bottom: 0px;" >
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'../homepage'">Customer Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'../roles'">&nbsp; Search roles </a>
          </li>
         
          <li class="nav-item" style="margin-left: 720px;">
            <a class="nav-link" [routerLink]="'../homepage'">Homepage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'../login'">Login</a>
          </li>


          
         
        </ul>
       
      </div>
    </div>
  </nav>
  <br><br>
  
   <!-- <div style="font-family: 'Montserrat', sans-serif; font-weight: 600;" >
      
        <a style="margin-left: 450px; position: absolute;" class="nav-link">Home</a>
        <a style="margin-left: 500px;" class="nav-link">/ Inventory</a>
     
       
   </div> -->
   <nav id="nav1"  class="navbar navbar-expand-lg" style="background-color: white;">
    <div class="container-fluid" style=" font-family: 'Montserrat', sans-serif; font-weight: 800; background-color: white;" >
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item" style="margin-left: 340px;">
            <a class="nav-link" [routerLink]="'../networkHome'">Inventory </a>
          </li>
          <li class="nav-item" style="margin-left: 20px;">
            <a class="nav-link" [routerLink]="'../incidentHome'"> Incident </a>
          </li>
          <li class="nav-item" style="margin-left: 20px;">
            <a class="nav-link" [routerLink]="'../groupHome'"> Group </a>
          </li>
          <li class="nav-item" style="margin-left: 20px;">
            <a class="nav-link" [routerLink]="'../issueHome'"> Issues </a>
          </li>
          <li class="nav-item" style="margin-left: 20px;">
            <a class="nav-link" [routerLink]="'../userHome'"> Users </a>
          </li>
          <li class="nav-item" style="margin-left: 20px;">
            <a class="nav-link" [routerLink]="'../roleHome'"> Roles </a>
          </li>


          
         
        </ul>
       
      </div>
    </div>
  </nav>
  <div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item" style="margin-left: 550px;" >
         <a class="nav-link"  style="position: absolute; font-family: 'Montserrat', sans-serif; font-weight:400" [routerLink]="'../homepage'">Home </a>
         </li>
         <li class="nav-item" style="margin-left: 600px;" >
            <a class="nav-link"  style="color:red; font-family: 'Montserrat', sans-serif; font-weight:400" [routerLink]="'../roleHome'"> / Roles & Access </a>
            </li>
         </ul>
    </div>


<div class="row">

    <div class="col-3">
  <div>
    <br>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item" style="margin-left: 30px;" >
         <a class="nav-link"  style=" font-family: 'Montserrat', sans-serif; font-weight:bolder" [routerLink]="'../networkHome'">Inventory </a>
         </li>
        <li class="nav-item" style="margin-left: 30px;">
         <a class="nav-link" style="position: absolute; font-family: 'Montserrat', sans-serif; font-weight:200; margin-bottom: 0px;" [routerLink]="'../network'">Search network </a>    
        </li>
        <li class="nav-item" style="margin-left: 30px;">
        <a class="nav-link" style="margin-top: 22px; font-family: 'Montserrat', sans-serif; font-weight:200; cursor: pointer; " (click)="navCreateNetwork()" >Create new network</a>

        </li>

        <li class="nav-item" style="margin-left: 30px;" >
          <a class="nav-link"  style=" font-family: 'Montserrat', sans-serif; font-weight:bolder" [routerLink]="'../incidentHome'">Incident </a>
      </li>
      <li class="nav-item" style="margin-left: 30px;">
          <a class="nav-link" style="position: absolute; font-family: 'Montserrat', sans-serif; font-weight:200; margin-bottom: 0px;" [routerLink]="'../incident'">Search incident </a>    
         </li>
         <li class="nav-item" style="margin-left: 30px;">
         <a class="nav-link" style="position: absolute; margin-top: 22px; font-family: 'Montserrat', sans-serif; font-weight:200; cursor: pointer;" (click)="navCreateIncident()">Create new incident </a>
      </li>
      <li class="nav-item" style="margin-left: 30px;">
        <a class="nav-link" style="position: absolute; margin-top: 44px; font-family: 'Montserrat', sans-serif; font-weight:200; cursor: pointer;" (click)="navAssignIncident()">Assign incident </a>

     </li>
     <li class="nav-item" style="margin-left: 30px;">
      <a class="nav-link" style="position: absolute; margin-top: 66px; font-family: 'Montserrat', sans-serif; font-weight:200; cursor: pointer;" (click)="navMyIncident()">View my incident </a>

   </li>
   <li class="nav-item" style="margin-left: 30px;">
    <a class="nav-link" style="position: absolute; margin-top: 88px; font-family: 'Montserrat', sans-serif; font-weight:200; cursor: pointer;" (click)="navcloseIncident()">Close incident </a>

 </li>
 <br><br><br><br>
 <br><br>

        <li class="nav-item" style="margin-left: 30px;" >
            <a class="nav-link"  style=" font-family: 'Montserrat', sans-serif; font-weight:bolder" [routerLink]="'../groupHome'">Group </a>
        </li>
        <li class="nav-item" style="margin-left: 30px;">
            <a class="nav-link" style="position: absolute; font-family: 'Montserrat', sans-serif; font-weight:200; margin-bottom: 0px;" [routerLink]="'../group'">Search groups </a>    
           </li>
           <br>
           <br>  

        <li class="nav-item" style="margin-left: 30px;" >
            <a class="nav-link"  style=" font-family: 'Montserrat', sans-serif; font-weight:bolder" [routerLink]="'../issueHome'">Issues </a>
        </li>
        <li class="nav-item" style="margin-left: 30px;">
            <a class="nav-link" style="position: absolute; font-family: 'Montserrat', sans-serif; font-weight:200; margin-bottom: 0px;" [routerLink]="'../issues'">Search issues </a>    
           </li>
           <li class="nav-item" style="margin-left: 30px;">
            <a class="nav-link" style="margin-top: 22px; font-family: 'Montserrat', sans-serif; font-weight:200; cursor: pointer;" (click)="navCreateIssue()">Create new issues </a>
   
        </li>

        <li class="nav-item" style="margin-left: 30px;" >
            <a class="nav-link"  style=" font-family: 'Montserrat', sans-serif; font-weight:bolder" [routerLink]="'../userHome'">Users </a>
        </li>
        <li class="nav-item" style="margin-left: 30px;">
            <a class="nav-link" style="position: absolute; font-family: 'Montserrat', sans-serif; font-weight:200; margin-bottom: 0px;" [routerLink]="'../users'">Search users </a>    
           </li>
           <li class="nav-item" style="margin-left: 30px;">
            <a class="nav-link" style="margin-top: 22px; font-family: 'Montserrat', sans-serif; font-weight:200; cursor: pointer;" (click)="navCreateUser()">Create new users </a>

   
        </li>

        <li class="nav-item" style="margin-left: 30px;" >
            <a class="nav-link"  style=" font-family: 'Montserrat', sans-serif; font-weight:bolder" [routerLink]="'../roleHome'">Roles & Access </a>
        </li>
        <li class="nav-item" style="margin-left: 30px;">
            <a class="nav-link" style="position: absolute; font-family: 'Montserrat', sans-serif; font-weight:200; margin-bottom: 0px;" [routerLink]="'../roles'">Search roles </a>    
           </li>
           <!-- <li class="nav-item" style="margin-left: 30px;">
           <a class="nav-link" style="margin-top: 22px; font-family: 'Montserrat', sans-serif; font-weight:200; " [routerLink]="'../adduser'">Add network </a>
   
        </li> -->
       
    </ul>

  </div>


</div>

<div class="col-9">
    <br><br>
    <br><br>
    <h1 style="font-family:'Montserrat', sans-serif; font-weight:bolder; letter-spacing: 2px; ">ROLES & ACSESS</h1>
    <p style="font-family:'Montserrat', sans-serif;"> Network devices, also known as networking hardware, are physical devices that allow hardware on a 
        computer network to communicate and interact with one another.A network device is a piece of hardware or software integral to communication between
         a computer and an internet network. Network devices play two roles. The first is establishing a network connection</p>
         <br><br>
         <div class="row">
            <div class="col-4" *ngFor="let i of roles ; let in= index" style="font-family:'Montserrat', sans-serif;">
                <div class="card" style="width: 16rem;height: 5.5rem; border-radius: 1px;margin-bottom: 20px;  font-family:'Montserrat', sans-serif;">
                    <div class="card-body" style="font-family:'Montserrat', sans-serif;">
                      <h3 class="card-title" style="font-family:'Montserrat', sans-serif;">{{i.name}}</h3>
                      <h5 class="card-subtitle mb-2 text-body-secondary" style="font-family:'Montserrat', sans-serif;"><b>Role ID : {{i.id}}</b></h5>
                      <span class="card-text"></span>
                      
                    </div>
                  </div>
        
            </div>
            
        
        </div>
        <br><br><br>
<br><br><br>
<br><br><br>
</div>
<br>




</div>

</div>


