<style>
    .Name
    {
        margin-left: 50px;
    }
    
    .custom-select
    {
        width: 200px;
        margin-bottom: 10px;
    }

    .submit
    {
        width:70px;
        height: 10px;
    }
</style>



<div class="outer">
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color:black " >
    <div class="container-fluid" >
      <a class="navbar-brand" href="#">Component</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<br>
<br>

<div class="row">
    <div class="col-3">

        <p class="Name"> Network Name</p>

    </div>
    <div class="col-3">

        <div class="input-group mb-3" >
            <select name="networkName" [(ngModel)]="networkID"  class="custom-select" id="inputGroupSelect">
            <option selected>Select</option>
            

            <option *ngFor="let i of networkElements; let in= index" value={{in}}>{{i}}</option>
            
            </select>
            
        </div>

    </div>




</div>
<div class="row">
    <div class="col-3">

        <p class="Name"> Component Name</p>

    </div>
    <div class="col-3">
        <!-- <div class="op"> -->

        <!-- <form #form="ngForm" (submit)="createnetwork(form)">
        <div class="form-group pt-3"> -->

               
            <div class="input-group mb-3" >
                <select name="componentName" [(ngModel)]="componentName"  class="custom-select" id="inputGroupSelect">
                <option selected>Select</option>
                

                <option *ngFor="let i of componentElements; let in= index" value={{in}}>{{i}}</option>
                
                </select>
                
            </div>

        </div>
        <!-- </div> -->

        <div class="col-3">
            <div class="btn-group" role="group" (click)= "submit()" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary">
                    <p class="submit"> submit </p>
                
                </button>


        </div>

    



