/* table {
    
    background-color: white;
    color: white;
   
    padding: 20%;
  
  }


  

  .table1
  {
    width: 900px;
    margin-left: 200px;
  }
 
  .searchfield
  {
    margin-left: 100px;
  }
  
  
  .mat-form-field {
    font-size: 14px;
    width: 100px;
    background-color: white;
    color: white;
  }
  .mat-column-select {
    overflow: initial;
  } */