<style>
  table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}
    .Name
    {
        margin-left: 50px;
    }
    .custom-select
    {
        width: 200px;
        margin-bottom: 10px;
      
       
    }
    .submit
    {
        width:70px;
        height: 10px;
    }
</style>


<div class="outer">
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color:black " >
    <div class="container-fluid" >
      <a class="navbar-brand" href="#">Network</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#add">Add Network Device</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#whole">Search Network Device</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#add">Add Network Elements</a></li>
              <li><a class="dropdown-item" href="#whole">Serach Network Elements</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>

<br>

<!-- $event.target.value -->
<div class="whole" id="whole">
  <div class="search1">
    <mat-form-field id="searchfield" style="margin-left: 300px; width: 700px; background-color: #fff; color: #fff;">
      <input id="mysearch" matInput (keyup)="applyFilter($any($event.target).value)" placeholder="Filter">
    </mat-form-field>
</div>
<br><br><br><br>
<div class="table1">
<table id="mytable" style="width: 500px; " mat-table [dataSource]="dataSource" class="mat-elevation"> 

  <!-- Position Column -->
  <ng-container  matColumnDef="position">
    <th  style=" width: 80px; text-align: center;" *matHeaderCellDef> No. </th>
    <td   style=" text-align: center " mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th  style=" width: 150px; text-align: center " mat-header-cell *matHeaderCellDef> Name </th>
    <td   style=" text-align: center " mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th style=" width: 120px; text-align:center"  mat-header-cell *matHeaderCellDef> Weight </th>
    <td  style=" text-align: center " mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th style=" width: 100px; text-align: center; border-radius: 10%; " mat-header-cell *matHeaderCellDef> Symbol </th>
    <td  style=" text-align: center " mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr style="background-color: #fff;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr style="background-color: #fff;" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<!-- <div>
  <div class="col-3">

    <div class="input-group mb-3" >
        <select name="networkName" [(ngModel)]="networkID"  class="custom-select" id="inputGroupSelect">
        <option selected>Select</option>
        

        <option *ngFor="let i of networkElements; let in= index" value={{in}}>{{i}}</option>
        
        </select>
        
    </div>

</div> -->
<div class="add" id="add">
<div class="row">
  <div class="col-3">

      <p class="Name"> Network Device</p>

  </div>
  <div class="col-3">
      <!-- <div class="op"> -->

      <!-- <form #form="ngForm" (submit)="createnetwork(form)">
      <div class="form-group pt-3"> -->

             
          <div class="input-group mb-3" >
              <select name="networkName" [(ngModel)]="networkID"  class="custom-select" id="inputGroupSelect">
              <option selected>Select</option>
              

              <option *ngFor="let i of networkElements; let in= index" value={{in}}>{{i}}</option>
              
              </select>
              
          </div>

      </div>
      <!-- </div> -->

      <div class="col-3">
          <div class="btn-group" role="group" (click)= "submit()" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-primary">
                  <p class="submit"> submit </p>
              
              </button>


      </div>

</div>
</div>



</div>

</div>

