
<div class="whole">
    <div class="container">
        <div class="row">
          <div class="col-2" style="background-color: rgb(25, 47, 75); height: 600px; margin-left: 0px;" >
            <div></div>
          </div>
          <div class="col-10">
            <div class="card">
              
                
                <p class="login">A &nbsp; D &nbsp;M &nbsp;I &nbsp;N  &nbsp;&nbsp;&nbsp; L &nbsp;O &nbsp;G &nbsp;I&nbsp; N</p><br><br>
                <form [formGroup]= "form">

                
                <!-- <div class="form-group">
                  <label>Email</label>
                  <input type="text" formControlName="email1" placeholder="enter email" class="form-control">
                  <label class="text-danger" *ngIf="getError(form.get('email1'))">
                    {{
                      getError(form.get('email1'))
                    }}

                  </label>
                </div> -->

                <div class="form-group">
                <!-- <p class="cred"> Email ID</p> -->
                <input class="form-control" placeholder="Enter email"  formControlName="email" type="text" name="email" > 
                <label class="text-danger" id="message" style="margin-left: auto;" *ngIf= "getError(form.get('email'))">
                  {{
                    getError(form.get('email'))
                  }}

                </label>
             

                <br>
               
                <!-- <p class="cred"> Password</p> -->
                <input class="form-control" placeholder="Enter password" formControlName="pass" type="password" name="pass" >
                <span class="text-danger" *ngIf= "getpass(form.get('pass'))">
                  {{
                    getpass(form.get('pass'))
                  }}

                </span>
<!--                 
                    <i class="far fa-eye" id="tp" style="margin-left: 340px; margin-top: -20px; cursor: pointer; color:gray;"></i> -->
                
                
                <br><br>
                <div class="btn-group" role="group" (click)= "submit()" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary">
                        <p class="submit"> L O G I N</p>
                    
                    </button>
                </div>
              </div>
              </form>
            </div>
          </div>
        </div>
    </div>

      


   


 