<style>
    .Name
    {
        margin-left: 50px;
    }
    .custom-select
    {
        width: 200px;
        margin-bottom: 10px;
      
       
    }
    .submit
    {
        width:70px;
        height: 10px;
    }
</style>

<!-- style="background-color: #f4f4f4	;" -->
<div class="outer">
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color:black " >
    <div class="container-fluid" style="font-family: 'League Spartan', sans-serif; background-color: rgb(240, 240, 240);">
      <a class="navbar-brand" [routerLink]="'../incidentHome'" style="margin-left: 20px;">Incident</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="'../incident'">View tickets</a>
          </li>

        
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'../ticket'">Raise ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'../resolve'">Assign ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'../myticket'">My tickets</a>
          </li>
          
      
         
        </ul>
       
      </div>
    </div>
  </nav>



  <div id="findsearch" >
    <p class="text"> Find the ticket you're looking for</p>
  </div>
     
  
    <div class="whole" id="whole">
      <br><br>
      <div class="search1">
        <mat-form-field id="searchfield" style=" margin-left: 260px;width: 650px; background-color: #fff; color: #fff;">
          <i style="position: absolute;" class="fa-solid fa-magnifying-glass"></i>
          <input style="position: absolute; margin-left: 10px; padding: 0px 0px;" id="mysearch" matInput (keyup)="applyFilter($any($event.target).value)" placeholder=" &nbsp; Search for tickets">
        </mat-form-field>
    </div>
    <br><br><br><br>
    <br>
    <div class="table1">
    <table id="mytable" style="width: 320px; " mat-table [dataSource]="dataSource" class="mat-elevation-z8"> 
    
      <!-- Position Column -->
      <ng-container  matColumnDef="id">
        <th  style=" width: 60px; text-align: center;" mat-header-cell  *matHeaderCellDef> Ticket ID </th>
        <td   style=" text-align: center " mat-cell *matCellDef="let element"> {{element.ticket.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th  style=" width: 100px; text-align: center " mat-header-cell *matHeaderCellDef> Name </th>
        <td   style=" text-align: center " mat-cell *matCellDef="let element"> {{element.ticket.name}} </td>
      
      
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="issue">
        <th style=" width: 80px; text-align:center"  mat-header-cell *matHeaderCellDef> Issue </th>
        <td  style=" text-align: center " mat-cell *matCellDef="let element"> {{element.ticket.issue.name}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="priority">
        <th style=" width: 80px; text-align: center; border-radius: 10%; " mat-header-cell *matHeaderCellDef> Priority </th>
        <td  style=" text-align: center " mat-cell *matCellDef="let element"> {{getLevel(element.ticket.priority)}} </td>
      </ng-container>
  
      <ng-container matColumnDef="severity">
        <th style=" width: 80px; text-align: center; border-radius: 10%; " mat-header-cell *matHeaderCellDef> Severity </th>
        <td  style=" text-align: center " mat-cell *matCellDef="let element"> {{getLevel(element.ticket.severity)}} </td>
      </ng-container>
  
      <ng-container matColumnDef="assignmentGroup">
        <th style=" width: 80px; text-align: center; border-radius: 10%; " mat-header-cell *matHeaderCellDef> Assignment Group </th>
        <td  style=" text-align: center " mat-cell *matCellDef="let element" > {{element.ticket.assignmentGroup.name}} </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th style=" width: 80px; text-align: center; border-radius: 10%; " mat-header-cell *matHeaderCellDef> Ticekt status </th>
        <td  style=" text-align: center " mat-cell *matCellDef="let element"> {{element.ticket.state}} </td>
      </ng-container>
  
      <ng-container matColumnDef="assignedTo">
          <th style=" width: 80px; text-align: center; border-radius: 10%; " mat-header-cell *matHeaderCellDef> Assigned User </th>
          <td  style=" text-align: center " mat-cell *matCellDef="let element"> {{element.ticket.assignedTo.name}} </td>
        </ng-container>
  
        
  
      <ng-container  matColumnDef="resolveButton">
          <th  style=" width: 100px; text-align: center;" mat-header-cell  *matHeaderCellDef> Resolve </th>
          <td  style=" text-align: center; cursor: pointer;" mat-cell *matCellDef="let element">
          <button (click)="resolveTicket(element.ticket)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal1"  style="width: 50px; height: 20px; border: none; box-shadow:  0 4px 4px 0 rgba(0,0,0,0.2);">{{element.resolveButton}}</button>
        </td>
      </ng-container>

      <ng-container  matColumnDef="moveButton">
        <th  style=" width: 100px; text-align: center;" mat-header-cell  *matHeaderCellDef> Move </th>
        <td  style=" text-align: center; cursor: pointer;" mat-cell *matCellDef="let element">
        <button (click)="moveTicket(element.ticket)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal2"  style="width: 50px; height: 20px; border: none; box-shadow:  0 4px 4px 0 rgba(0,0,0,0.2);">{{element.moveButton}}</button>
      </td>
      
    </ng-container>

    <ng-container  matColumnDef="ignoreButton">
        <th  style=" width: 100px; text-align: center;" mat-header-cell  *matHeaderCellDef> Ignore </th>
        <td  style=" text-align: center; cursor: pointer;" mat-cell *matCellDef="let element">
        <button (click)="IgnoreTicket(element.ticket)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal3"  style="width: 50px; height: 20px; border: none; box-shadow:  0 4px 4px 0 rgba(0,0,0,0.2);">{{element.ignoreButton}}</button>
      </td>
      
    </ng-container>
  
    
    
      <tr style="background-color: #fff;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr style="background-color: #fff;" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
    </div>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title fs-5" id="exampleModalLabel">Resolve the ticket</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height: 250px;">
               <span style="font-weight:200; font-size:medium; font-family: 'Montserrat', sans-serif;">You have the option of resolving this ticket <br>by providing the rootcause and solution of this ticket. The admin will analyze your response and close the ticket if it is correct </span> 
                <br>
                <br>
                <!-- <select (change)="setUser($any($event.target).value)" [formGroup]= "form" id="exampleFormControl" style="width: 23rem; height: 34px;  border-radius: 4px; border-color: rgb(211, 211, 211);" formControlName="users" name="users" > 
                
                    <option style=" font-family: sans-serif; letter-spacing: 2px;" *ngFor="let i of users; let in= index" value={{in}}>{{i.name}}</option>
                  
                  </select> -->
                  <form [formGroup]= "form">

                    <div class="form-group" >
                      
                      <input (change)="setRootcause($any($event.target).value)" class="form-control" style="width: 28rem; " placeholder="Resolution Comments"  formControlName="rootcause" type="text" name="rootcause" > 
                      
                    </div>
                
                  </form>




            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width: 120px; height: 25px; padding: 0px 0px;">Close</button>
              <button (click)="resolveTicketSubmit()" type="button" class="btn btn-primary"  style="width: 120px;height: 25px; margin-right: 100px; padding: 0px 0px;">Submit</button>
            </div>
          </div>
        </div>
      </div>
      </div>


      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title fs-5" id="exampleModalLabel">Move the ticket</h3>
              <button (click)="closeMove()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height: 250px;">
               <span style="font-weight:200; font-size:medium; font-family: 'Montserrat', sans-serif;">You have the option of moving this ticket <br>to another group if you think this particular ticket is not suitable for your group or it requires the attention of another group </span> 
                <br>
                <br>
                <form [formGroup]= "form">
                  <select (change)="setGroup($any($event.target).value)" [formGroup]= "form" id="exampleFormControl" style="width: 28rem; height: 34px; line-height: 3;  border-radius: 4px; border-color: rgb(211, 211, 211);" formControlName="users" name="users" > 
            
                    <option style="font-family: sans-serif; letter-spacing: 2px; " *ngFor="let i of groups; let in= index" value={{in}}>{{i.name}}</option>
                  
                  </select>
                  <br>
                  <br>

                  <div class="form-group" >
                      
                    <input (change)="setMovecause($any($event.target).value)" class="form-control" style="width: 28rem; " placeholder="Resolution Comments"  formControlName="movecause" type="text" name="movecause" > 
                    
                  </div>

                </form>


                
            </div>
            <div class="modal-footer">
              <button (click)="closeMove()" type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width: 120px; height: 25px; padding: 0px 0px;">Close</button>
              <button (click)="moveTicketSubmit()" type="button" class="btn btn-primary"  style="width: 120px;height: 25px; margin-right: 100px; padding: 0px 0px;">Submit</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title fs-5" id="exampleModalLabel">Ignore the ticket</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height: 150px;">
               <span style="font-weight:200; font-size:medium; font-family: 'Montserrat', sans-serif;">You have the option of ignoring the ticket. Please state your resaon for ignoring this ticket.</span> 
                <br>
                <br>
                <form [formGroup]= "form">

                    <div class="form-group" >
                      <input (change)="setReason($any($event.target).value)" class="form-control" style="width: 28rem; " placeholder="Reason"  formControlName="reason" type="text" name="reason" > 
                      
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width: 120px; height: 25px; padding: 0px 0px;">Close</button>
              <button (click)="ignoreTicketSubmit()" type="button" class="btn btn-primary"  style="width: 120px;height: 25px; margin-right: 100px; padding: 0px 0px;">Submit</button>
            </div>
          </div>
        </div>
      </div>
      
      

      
</div>

