<style>
    .Name
    {
        margin-left: 50px;
    }
    .custom-select
    {
        width: 200px;
        margin-bottom: 10px;
      
       
    }
    .submit
    {
        width:70px;
        height: 10px;
    }
</style>

<!-- style="background-color: #f4f4f4	;" -->
<div class="outer">
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color:black " >
    <div class="container-fluid" style="font-family: 'League Spartan', sans-serif; background-color: rgb(240, 240, 240);">
      <a class="navbar-brand" [routerLink]="'../incidentHome'" style="margin-left: 20px;">Incident</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="'../incident'">View tickets</a>
          </li>

        
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'../ticket'">Raise ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'../resolve'">Assign ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'../myticket'">My tickets</a>
          </li>
          
      
         
        </ul>
       
      </div>
    </div>
  </nav>
  <!-- <br>
  <div class="container" style=" font-family: 'Albert Sans', sans-serif; font-size: 30px;" >
    <marquee direction= "left" style="height: 40px;" >
        Animation on moving text and stop on hover
    </marquee>
  </div>
  <br><br> -->

  <div class="row">
    <div class="col-7">
<!-- 
      <p><a href="#" data-replace="Hover this link"><span id="hiw" style="font-family: 'Albert Sans', sans-serif; font-size: 0.8cm; font-weight: 200; border: none; margin-top: 100px; margin-left: 50px;
        position: absolute;">Hover this link</span></a></p> -->

        <!-- <p class="placeholder-glow" >
          <span class="placeholder col-12"></span>
          how it works
        </p> -->


      <p  id="hiw" style="font-family: 'Albert Sans', sans-serif; font-size: 0.8cm; font-weight: 200; border: none; margin-top: 60px; margin-left: 50px;
      position: absolute;">
        How it works &nbsp;

        <i class="fa-solid fa-arrow-right" style="font-size: 0.6cm;  "></i></p><br><br>
       <ul style="font-family: 'Albert Sans', sans-serif; font-size: 0.5cm; font-weight: 100; margin-top: 90px; margin-left: 35px;"  >
        <li id="point1"> When something is not working you can raise a ticket</li><br>
        <li id="point1" >Start by providing us a description of the issue </li><br>
        <li id="point1" >Select the network device with the issue </li><br>
        <li id="point1" >Choose the group you wanna raise the ticket to</li><br>
        <li id="point1" >Use a list and bullet points for easy communication.</li><br>
        <li id="point1" >Inform us about the prioritization of this issue</li><br>
        <li id="point1" >Once the ticket is ope it either be resolved or ignored</li><br>
      </ul> 
      <!-- <div class="card" style="width: 35rem; height: 20rem; position: absolute;  margin-top: 50px; margin-left: 25px; border-radius: 1px; ">
        <div class="card-body">
      <div class="row">
        <div class="col-4">
          <div id="list-example" class="list-group">
            <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
            <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
            <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
            <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
          </div>
        </div>
        <div class="col-8" style="height: 0px; margin-bottom: 20px;">
          <div id="content" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
            <h4 id="list-item-1">Item 1</h4>
            <p style="border: none;">This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. 
              We keep adding some more example copy here to emphasize the scrolling and highlighting</p>
            <h4 id="list-item-2">Item 2</h4>
            <p style="border: none;">This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting

            </p>
            <h4 id="list-item-3">Item 3</h4>
            <p style="border: none;">This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting</p>
            <h4 id="list-item-4">Item 4</h4>
            <p style="border: none;">This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting</p>
          </div>
        </div>
      </div>
        </div>
      </div>
     -->

        
      
     
    </div>
    <div class="col-5">

   
    <div class="card" id="card" style="width: 25rem; height: 30rem; position: absolute;  margin-top: 10px; ">
        <div class="card-body">
          <h3 class="card-title" style="text-align: center; " >RAISE &nbsp; TICKET</h3>
          <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <!-- <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a> -->
          <br>
          <form [formGroup]= "form">

            <div class="form-group" >
              <input class="form-control" style="width: 23rem; " placeholder="Issue name"  formControlName="ticketName" type="text" name="ticketName" > 
              <span class="text-danger" *ngIf= "getticketName(form.get('ticketName'))">
                {{
                  getuserName(form.get('userName'))
                }}
              </span>
            </div>
            <br>

          <!-- <div class="form-group" >
            <input class="form-control" style="width: 23rem; " placeholder="Enter name"  formControlName="ticketName" type="text" name="ticketName" > 
            <span class="text-danger" *ngIf= "getticketName(form.get('ticketName'))">
              {{
                getticketName(form.get('ticketName'))
              }}
            </span>
          </div> -->
         
       <div class="form-group">
                   
        <select (change)="setNetworkFamily($any($event.target).value)" [formGroup]= "form" id="networkFamilySelect" style="width: 370px; height: 34px; border-radius: 4px; border-color: rgb(211, 211, 211);" formControlName="networkFamily" name="networkFamily" > 
          
          <option value="" disabled selected hidden>Select Network Family</option>
          <option *ngFor="let i of networkElements; let in= index" value={{in}}>{{i}}</option>
        
        </select>
      </div>

      <br>

      <div class="form-group">
                   
        <select (change)="setIssue($any($event.target).value)" [formGroup]= "form" id="IssueSelect" style="display: none; width: 370px; height: 34px; border-radius: 4px; border-color: rgb(211, 211, 211);" formControlName="networkFamily" name="networkFamily" > 
        
          <option value="" disabled selected hidden>Select Issue</option>
          <option *ngFor="let i of issues; let in = index" value={{in}}>{{i.name}}</option>
        
        </select>
      </div>

      <br>

      <div class="form-group">
                   
        <select (change)="setGroup($any($event.target).value)" [formGroup]= "form" id="GroupSelect" style="display: none; width: 370px; height: 34px; border-radius: 4px; border-color: rgb(211, 211, 211);" formControlName="networkFamily" name="networkFamily" > 
        
          <option value="" disabled selected hidden>Select Group</option>
          <option *ngFor="let i of groups; let in= index" value={{in}}>{{i.name}}</option>
        
        </select>
      </div>
      
      
      


        

           
      <!-- <div class="wrapper" style="margin-top: 27px;">
        <div class="select-btn"  >
            <span id="selectedData">Select</span>

              <span id="arrow" class="material-symbols-outlined" style="color:#807f7f;">
                
                </span>
        </div>

        <div class="content" id="content" >
            <div class="search">
                <input class="material-symbols-outlined" type="text" placeholder="search">
            </div>
            <ul class="options">
              <li *ngFor="let item of searchresult" (click)="getvalue(item)" >
                {{item}} 
              </li>
            </ul>
        </div>
        </div>
    -->


       <br>


        <div class="row">
            <div class="col-2">
            <p style="color: rgb(108, 108, 108); font-size: medium; padding: 5px; font-family: sans-serif; letter-spacing: 0.5px; width: 90px;"> &nbsp; Priority  </p>
           </div>
           
           <div class="col-2">
           </div>
           <div class="col-2">
            <div class="form-check" style="padding: 5px;">
                <input class="form-check-input" type="radio" name="flexRadioDefault" (click)="getPriority('High')" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  High
                </label>
              </div>
        
        </div>
            <div class="col-2">
                <div class="form-check" style="padding: 5px;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" (click)="getPriority('Medium')" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Medium
                    </label>
                  </div>
        </div>
        &nbsp; &nbsp; &nbsp;
            <div class="col-2">
                
                <div class="form-check" style="padding: 5px;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" (click)="getPriority('Low')" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                     Low
                    </label>
                    
                  </div>
        </div>
        </div>

       

        <div class="row">
            <div class="col-2">
            <p style="  color: rgb(108, 108, 108); font-size: medium; padding: 5px; font-family: sans-serif; letter-spacing: 0.5px; width: 90px;"> &nbsp; Severity  </p>
           </div>
           
           <div class="col-2">
           </div>
           <div class="col-2">
            <div class="form-check" style="padding: 5px;">
                <input class="form-check-input" type="radio" name="flexRadioDefault1" (click)="getSeverity('High')" id="flexRadioDefault4">
                <label class="form-check-label" for="flexRadioDefault4">
                  High
                </label>
              </div>
        
        </div>
            <div class="col-2">
                <div class="form-check" style="padding: 5px;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault1" (click)="getSeverity('Medium')"  id="flexRadioDefault5">
                    <label class="form-check-label" for="flexRadioDefault5">
                      Medium
                    </label>
                  </div>
        </div>
        &nbsp; &nbsp; &nbsp;
            <div class="col-2">
                
                <div class="form-check" style="padding: 5px;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault1" (click)="getSeverity('Low')"  id="flexRadioDefault6">
                    <label class="form-check-label" for="flexRadioDefault6">
                     Low
                    </label>
                  </div>
        </div>
        </div>
      </form>

      <button id="submitButton" type="button"(click)="submitData()"  class="btn btn-primary btn-sm">Submit</button>

        
        



        



         <!-- </form> -->


        </div>
      </div>
      </div>
        <br><br><br>
        <br><br><br>
        <br><br><br>
        <br><br><br>
   
    
   
  </div>
 </div>




 
  

