.card{
    position: absolute;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}




p {
    border:  1px solid;

    border-radius: 10px;
    border-color: rgb(224, 223, 223);
   
}

.card-title
{
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    font-size: 14px;
    width: 300px;
    line-height: 24px;
    margin-top: 20px;
    margin-left: 40px;
    letter-spacing: 5px;
    

}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  /* The search field */
  #myInput {
    box-sizing: border-box;
    background-image: url('/../assets/bubble.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  /* The search field when it gets focus/clicked on */
  #myInput:focus {outline: 3px solid #ddd;}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 23rem;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show 
  {
    display:block;
}
.form-check
{
  z-index: 10;
  position: absolute;
}
.wrapper
{
  width: 23rem;
  margin: 0px;
  border-color: rgb(215, 214, 214);
  

}

#selectedData
{
  margin-left: 1px;
  margin-top: 10px;
  height: 35px;
  border: 1px solid;
  width: 23rem;
  border-radius: 4px;
  
    border-color: rgb(222, 220, 220);
    color: rgb(108, 108, 108);
    font-size: medium;
    letter-spacing: 0.3px;
  margin-top: 5px;
  padding: 7px 12px;
}

#hiw:hover
{

  color:#128ce9;
  transition: ease-in-out;
  font-family: 'League Spartan', sans-serif;
  font-size: larger;
  letter-spacing: 2px;
  cursor:pointer;

}

#point1:hover
{
  color:#128ce9;
 transition: ease-in-out;
 font-family: 'League Spartan', sans-serif;
 font-size: larger;
 letter-spacing: 2px;
 cursor:pointer;

}
#point2:hover
{
  color:#128ce9;
 transition: ease-in-out;
 font-family: 'League Spartan', sans-serif;
 font-size: larger;
 letter-spacing: 2px;
 cursor:pointer;

}
#point3:hover
{
  color:#128ce9;
 transition: ease-in-out;
 font-family: 'League Spartan', sans-serif;
 font-size: larger;
 letter-spacing: 2px;
 cursor:pointer;

}
#point4:hover
{
  color:#128ce9;
 transition: ease-in-out;
 font-family: 'League Spartan', sans-serif;
 font-size: larger;
 letter-spacing: 2px;
 cursor:pointer;

}
#point5:hover
{
  color:#128ce9;
 transition: ease-in-out;
 font-family: 'League Spartan', sans-serif;
 font-size: larger;
 letter-spacing: 2px;
 cursor:pointer;

}
#point6:hover
{
  color:#128ce9;
 transition: ease-in-out;
 font-family: 'League Spartan', sans-serif;
 font-size: larger;
 letter-spacing: 2px;
 cursor:pointer;

}


/* #myarrow:hover
{
  color: red;
 transition: ease-in-out;
  letter-spacing: 4px;
  transform: scaleX(1.2);
} */



#arrow
{
  margin-left: 415px;
  padding: 7px 12px;
  font-size:large;

}

.select-btn span{
 
  height: 35px;
  width: 0px;
  position: absolute;

}

.select-btn
{
 
  /* padding: 0 20px; */
  border-radius: 7px;
  background: #fff;
  margin-right: 20px;
  width: 23rem;
   
  justify-content: space-between;
  
}

.select-btn , .options li{
  display: flex;
  cursor: pointer;
 
  align-items: center;
}
.select-btn i{
  font-size: 22px;
  transition: transform 0.3s linear;

}

.select-btn span{
 
  transition: transform 0.3s linear;

}

#content
{
  width: 23rem;
  margin-left: 0;
  margin-top: 40px;
  border: 1px solid;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2); ;
  background:#fff;
  border-radius: 4px;
  border-color: rgb(224, 223, 223);
}


.content{
  padding: 10px;
  display:none;
  margin-top: 5px;
  border-radius: 10px;

  background: #fff;
  position: absolute;
  z-index: 1000;
}

/* .wrapper:active .content{
  display: block;

}
.wrapper:hover .content{
  display: block;
  
} */

/* .wrapper:hover .select-btn span#arrow
{
  transform: rotate(-180deg);
} */
.content .search
{
  position: relative;
  
  
}
.search i{
  position: absolute;
 
  line-height: 53px;
  height: 30px;
}
.search input
{
  outline: none;
  width: 20rem; 
  height: 30px;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 15px;
  margin-left: 20px;
  font-family:sans-serif;
  /* padding: 0 15px 0 15px; */
  border: 1px solid;
  border-color: rgb(224, 223, 223);
  font-size: medium;
  letter-spacing: 0.3px;
  padding: 7px 12px;
}

.content .options
{
  margin-top: 20px;
  margin-left: 0px;
  max-height: 270px;
  height: 80px;
  overflow-y: auto;
}

.options li{
  height: 20px;
 
  border-radius: 5px;
  text-decoration: none;
}

.options::-webkit-scrollbar
{
  width: 7px;
  

}

.options::-webkit-scrollbar-track
{
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb
{
  background: #ccc;
  border-radius: 25px;
 
}

.options li:hover
{
  /* background: #f2f2f2; */
  background:#0d6efd;
  color: #fff;
}