<style>
    .Name
    {
        margin-left: 50px;
    }
    .custom-select
    {
        width: 200px;
        margin-bottom: 10px;
      
       
    }
    .submit
    {
        width:70px;
        height: 10px;
    }
</style>

<!-- style="background-color: #f4f4f4	;" -->
<div class="outer">
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color:black " >
    <div class="container-fluid"  >
      <a class="navbar-brand" [routerLink]="'../incident'" style="margin-left: 20px;">Incident</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="'../incident'">View tickets</a>
          </li>

        
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'../ticket'">Raise ticket</a>
          </li>
          
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#add">Add Network Elements</a></li>
              <li><a class="dropdown-item" href="#whole">Serach Network Elements</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
         
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>

   
    <div class="card" style="width: 30rem; height: 34rem; position: absolute;  margin-top: 70px; margin-left: 400px;">
        <div class="card-body">
          <h3 class="card-title" style="text-align: center; " >RAISE &nbsp; TICKET</h3>
          <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <!-- <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a> -->
          <br>
          <br>
          <form [formGroup]= "form">

          <div class="form-group" >
            <input class="form-control" style="width: 28rem; " placeholder="Enter name"  formControlName="name" type="text" name="name" > 
          </div>
          </form>
          <br>

          <div class="input-group mb-3"  >
            <select style="width: 30rem;  border-color: rgb(215, 214, 214) ;border-radius: 4px;  height: 35px;font-weight:lighter; color: rgb(108, 108, 108); font-size: medium; font-family: sans-serif; letter-spacing: 0.3px; margin-bottom: 0px;" name="networkName" [(ngModel)]="networkID"  class="custom-select" id="inputGroupSelect">
            <!-- <option selected >Select</option> -->
         

            <option  *ngFor="let i of networkElements; let ind=index" value={{ind}}>&nbsp; {{i}} </option>
            
            </select>
            
       </div>

       <div class="input-group mb-3"  >
         <select style="width: 30rem;  border-color: rgb(215, 214, 214) ; border-radius: 4px;  height: 35px;font-weight:lighter; color: rgb(108, 108, 108); font-size: medium; font-family: sans-serif; letter-spacing: 0.3px; margin-bottom: 0px; margin-top: 5px;" name="issueName" [(ngModel)]="issueName"  class="custom-select" id="inputGroupSelect">
         <!-- <option selected >Select</option> -->
         <option type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()"></option>

         <option  *ngFor="let i of issueElements; let ind=index" value={{ind}}>&nbsp; {{i}} </option>
         
         </select>
         
        </div>


        <div class="input-group mb-3"  >
            <select style="width: 30rem;  border-color: rgb(215, 214, 214) ; border-radius: 4px;  height: 35px;font-weight:lighter; color: rgb(108, 108, 108); font-size: medium; font-family: sans-serif; letter-spacing: 0.3px; margin-top: 5px; " name="groupName" [(ngModel)]="groupName"  class="custom-select" id="inputGroupSelect">
            <!-- <option selected >Select</option> -->
         
   
            <option  *ngFor="let i of groupElements; let ind=index" value={{ind}}>&nbsp; {{i}} </option>
            
            </select>
            
           </div>

           


           
           <div class="wrapper" style="margin-top: 27px;">
              <div class="select-btn"  >
                  <span id="selectedData">Select</span>
                  <!-- <i class="uil uil-angle-down"></i> -->
                  <!-- <span class="material-symbols-outlined" style="color:#b3b3b3;">
                    arrow_drop_down
                    </span> color:#909090; -->

                    <span id="arrow" class="material-symbols-outlined" style="color:#807f7f;">
                      expand_more
                      </span>
              </div>

              <div class="content" id="content" >
                  <div class="search">
                      <input class="material-symbols-outlined" type="text" placeholder="search">
                  </div>
                  <ul class="options">
                    <li *ngFor="let item of searchresult" (click)="updateName(item)" >
                      {{item}} 
                    </li>
                  </ul>
              </div>
            <!-- <script>
                const wrapper= document.querySelector(".wrapper"),
                selectBtn= wrapper.querySelector(".select-btn"),
                options = wrapper.querySelector(".options");

                let countries = ["A", "B", "C", "D","E","F"]

                function addCountry()
                {
                    countries.forEach(country => {
                    let li = `<li> ${country}</li>`;
                    options.insertAdjacentHTML("beforeend", li);
                    });
                }
                addCountry();

                selectBtn.addEventListener("click", () =>
                {
                    wrapper.classList.toggle("active");
                })
            

            </script> -->
       </div>

       <br>
       <br>
       <br>


        <div class="row">
            <div class="col-2">
            <p style="  color: rgb(108, 108, 108); font-size: medium; padding: 5px; font-family: sans-serif; letter-spacing: 0.5px; width: 90px;"> &nbsp; Priority  </p>
           </div>
           
           <div class="col-2">
           </div>
           <div class="col-2">
            <div class="form-check" style="padding: 5px;">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  High
                </label>
              </div>
        
        </div>
            <div class="col-2">
                <div class="form-check" style="padding: 5px;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                      Medium
                    </label>
                  </div>
        </div>
        &nbsp; &nbsp; &nbsp;
            <div class="col-2">
                
                <div class="form-check" style="padding: 5px;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                     Low
                    </label>
                  </div>
        </div>
        </div>

       

        <div class="row">
            <div class="col-2">
            <p style="  color: rgb(108, 108, 108); font-size: medium; padding: 5px; font-family: sans-serif; letter-spacing: 0.5px; width: 90px;"> &nbsp; Severity  </p>
           </div>
           
           <div class="col-2">
           </div>
           <div class="col-2">
            <div class="form-check" style="padding: 5px;">
                <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault4">
                <label class="form-check-label" for="flexRadioDefault4">
                  High
                </label>
              </div>
        
        </div>
            <div class="col-2">
                <div class="form-check" style="padding: 5px;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault5" checked>
                    <label class="form-check-label" for="flexRadioDefault5">
                      Medium
                    </label>
                  </div>
        </div>
        &nbsp; &nbsp; &nbsp;
            <div class="col-2">
                
                <div class="form-check" style="padding: 5px;">
                    <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault6" checked>
                    <label class="form-check-label" for="flexRadioDefault6">
                     Low
                    </label>
                  </div>
        </div>
        </div>

        
        



        



         <!-- </form> -->


        </div>


        <br><br><br>
        <br><br><br>
        <br><br><br>
        <br><br><br>
    </div>
    
   

 </div>




 
  

