<div class="outer">



<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color:black " >
    <div class="container-fluid" style="background-color: rgb(240, 240, 240);  font-family: 'League Spartan', sans-serif;" >
      <a class="navbar-brand"  [routerLink]="'../networkHome'">Network</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="'../addnetwork'">Add Network Device</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'../network'">Search Network Device</a>
          </li>
        
         
          
        </ul>
       
      </div>
    </div>
  </nav>
  <br><br><br>


   <div class="row">
      <div class="col-7">
    
        
    
      </div>
      <div class="col-5">
          <!-- <div class="op"> -->
    
          <!-- <form #form="ngForm" (submit)="createnetwork(form)">
          <div class="form-group pt-3"> -->
            <div class="card" style="width: 25rem; height: 460px;">
             
              <div class="card-body">
                <h5 class="card-title" style="text-align: center; font-family: 'League Spartan', sans-serif; letter-spacing: 2px;" > ADD A NETWORK DEVICE</h5>
                <p class="card-text"></p>

                <br><br>
                
                <form [formGroup]= "form">
                  <div class="form-group" >
                    <input class="form-control" (change)="setName($any($event.target).value)" style="width: 23rem; " placeholder="Device name"  formControlName="networkName" type="text" name="networkName" > 
                  </div>
                 
                <br>
                  
                  <div class="form-group">
                   
                    <select (change)="setFamily($any($event.target).value)" [formGroup]= "form" id="exampleFormControlSelect1" style="width: 200px;" style="width: 370px; height: 34px; border-radius: 4px; border-color: rgb(211, 211, 211);" class="custom-select"  formControlName="networkParent" name="networkParent" > 
                     
                      <option *ngFor="let i of networkElements; let in= index" value={{i}}>{{i}}</option>
                  
                    </select>
                  </div>

                  <br>
                  <div class="form-group" >
                    <input (change)="setIp($any($event.target).value)" class="form-control" style="width: 23rem; " placeholder="Enter Network IP address"  formControlName="IPAddress" type="text" name="IPAddress" > 
                  
                  </div>
                  <br>
                  <div class="form-group" >
                    <input (change)="setMac($any($event.target).value)" class="form-control" style="width: 23rem; " placeholder="Enter Mac address"  formControlName="macAddress" type="text" name="macAddress" > 
                    
                  </div>
                </form>
                <br>
                <button (click)="submit()"  type="button" class="btn btn-primary"
                style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .9rem; --bs-btn-font-size: .1 rem; margin-top: 10px; width: 370px;">
                 submit 
            </button>
              </div>

             
            </div>
    
                 
              <!-- <div class="input-group mb-3"  >
                  <select style="width: 100px;  margin-left: 50px;" name="networkName" [(ngModel)]="networkID"  class="custom-select" id="inputGroupSelect">
                  <option selected>Select</option>
                  
    
                  <option *ngFor="let i of networkElements; let in= index" value={{in}}>{{i}}</option>
                  
                  </select>
                  
             </div> -->
            
    
            </div>

         
        </div>
    
   
</div>



