<div class="outer">



<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color:black " >
    <div class="container-fluid" style="background-color: rgb(240, 240, 240);" >
      <a class="navbar-brand"  [routerLink]="'../network'">Network</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="'../addnetwork'">Add Network Device</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'../network'">Search Network Device</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#add">Add Network Elements</a></li>
              <li><a class="dropdown-item" href="#whole">Serach Network Elements</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
          
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
  <br><br><br>


    <div class="row">
      <div class="col-2">
    
          <p class="Name" style="margin-left: 50px;"> Network Device</p>
    
      </div>
      <div class="col-2">
          <!-- <div class="op"> -->
    
          <!-- <form #form="ngForm" (submit)="createnetwork(form)">
          <div class="form-group pt-3"> -->
    
                 
              <div class="input-group mb-3"  >
                  <select style="width: 100px;  margin-left: 50px;" name="networkName" [(ngModel)]="networkID"  class="custom-select" id="inputGroupSelect">
                  <option selected>Select</option>
                  
    
                  <option *ngFor="let i of networkElements; let in= index" value={{in}}>{{i}}</option>
                  
                  </select>
                  
             </div>
    
          </div>
          <!-- </div> -->
    
         
    </div>
    
    <button type="button" class="btn btn-primary"
            style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .9rem; --bs-btn-font-size: .1 rem; margin-left: 270px; margin-top: 10px;">
             submit 
        </button>
</div>



