<style>
    .Name
    {
        margin-left: 50px;
    }
    .custom-select
    {
        width: 200px;
        margin-bottom: 10px;
      
       
    }
    .submit
    {
        width:70px;
        height: 10px;
    }
</style>

<!-- style="background-color: #f4f4f4	;" -->
<div class="outer">
<nav id="nav1" class="navbar navbar-expand-lg bg-body-tertiary" style="background-color:black " >
    <div id="mynavbar" class="container-fluid" style="background-color: rgb(240, 240, 240);" >
      <a id="nav2" class="navbar-brand" [routerLink]="'../incidentHome'" style="margin-left: 20px;">Incident</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="'../incident'">View tickets</a>
          </li>

        
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'../ticket'">Raise ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'../resolve'">Resolve & close ticket</a>
          </li>
          
         
         
        </ul>
       
      </div>
    </div>
  </nav>


<div id="findsearch" >
  <p class="text"> Find the ticket you're looking for</p>
</div>
   

  <div class="whole" id="whole">
    <br><br>
    <div class="search1">
      <mat-form-field id="searchfield" style=" margin-left: 260px;width: 650px; background-color: #fff; color: #fff;">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input id="mysearch" matInput (keyup)="applyFilter($any($event.target).value)" placeholder=" &nbsp; Search for tickets">
      </mat-form-field>
  </div>
  <br><br><br><br>
  <br>
  <div class="table1">
  <table id="mytable" style="width: 320px; " mat-table [dataSource]="dataSource" class="mat-elevation-z8"> 
  
    <!-- Position Column -->
    <ng-container  matColumnDef="id">
      <th  style=" width: 60px; text-align: center;" mat-header-cell  *matHeaderCellDef> Ticket ID </th>
      <td   style=" text-align: center " mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th  style=" width: 100px; text-align: center " mat-header-cell *matHeaderCellDef> Name </th>
      <td   style=" text-align: center " mat-cell *matCellDef="let element"> {{element.name}} </td>
    
    
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="issue">
      <th style=" width: 80px; text-align:center"  mat-header-cell *matHeaderCellDef> Issue </th>
      <td  style=" text-align: center " mat-cell *matCellDef="let element"> {{element.issue.name}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="priority">
      <th style=" width: 80px; text-align: center; border-radius: 10%; " mat-header-cell *matHeaderCellDef> Priority </th>
      <td  style=" text-align: center " mat-cell *matCellDef="let element"> {{element.priority}} </td>
    </ng-container>

    <ng-container matColumnDef="severity">
      <th style=" width: 80px; text-align: center; border-radius: 10%; " mat-header-cell *matHeaderCellDef> Severity </th>
      <td  style=" text-align: center " mat-cell *matCellDef="let element"> {{element.severity}} </td>
    </ng-container>

    <ng-container matColumnDef="assignmentGroup">
      <th style=" width: 80px; text-align: center; border-radius: 10%; " mat-header-cell *matHeaderCellDef> Assignment Group </th>
      <td  style=" text-align: center " mat-cell *matCellDef="let element"> {{element.assignmentGroup.id}} </td>
    </ng-container>
  
    <tr style="background-color: #fff;" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr style="background-color: #fff;" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  </div>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  </div>
 </div>
   



 
  
